<!DOCTYPE html>
<html>
<head>
  <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>SalesLoft Interview Challenge</title>
</head>
<body>

<%= yield %>

<script src=<%= "http://localhost:#{ENV['WEBPACK_PORT']}/app.js" %>></script>
</body>
</html>
