<!DOCTYPE html>
<html>
<head>
  <title>SalesLoft Interview Challenge</title>
</head>
<body>

<%= yield %>

<script src=<%= "http://localhost:#{ENV['WEBPACK_PORT']}/app.js" %>></script>
</body>
</html>
